<section>
  <div [formGroup]="filtersGroup" class="flex flex-col space-y-4 my-6 md:flex-row md:space-y-0 md:space-x-4">
    <div
      class="flex-1 flex flex-row items-center h-12 py-1 bg-baltic-sea border border-gray-600 rounded-lg overflow-hidden md:py-0 focus-within:border-primary focus-within:ring-4 focus-within:ring-primary focus-within:ring-opacity-30"
    >
      <input
        type="text"
        class="flex-1 h-full bg-transparent border-none focus:ring-0"
        placeholder="Search for keywords"
        formControlName="keywordSearch"
        #searchTerm
      />
      <div (click)="searchByTitle(searchTerm.value)" class="pr-4 text-gray-400 cursor-pointer hover:text-primary">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.966 56.966">
          <path
            fill="currentColor"
            d="M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z"
          />
        </svg>
      </div>
    </div>

    <div class="flex flex-row space-x-4">
      <select
        class="flex-1 h-12 w-52 bg-baltic-sea border border-gray-600 rounded-lg focus:ring-4 focus:ring-primary focus:ring-opacity-30 focus:border-primary"
        name="categories"
        id="categories"
        formControlName="categories"
        (change)="filterByCategory($event)"
      >
        <option value="" selected disabled>Categories</option>
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>

      <button
        (click)="clearFilters()"
        class="px-6 py-2 font-medium border-2 border-gray-600 rounded-full focus:outline-none focus:text-indigo-400 focus:border-primary"
      >
        Clear
      </button>
    </div>

  </div>

  <div *ngIf="postsLoading$ | async" class="flex justify-center items-center">
    <loader></loader>
  </div>

  <div class="flex flex-col space-y-4 my-6">
    <h1 class="font-bold text-2xl">Posts</h1>

      <ng-container *ngFor="let post of posts$ | async">
        <post-card [item]="post"></post-card>
      </ng-container>

      <hr class="border-t-2 border-gray-600 rounded-full">

      <ng-container *ngIf="posts$ | async as posts">
        <p class="text-center font-medium">Showing {{ posts.length }} posts</p>
      </ng-container>

  </div>
</section>
